@media screen and (min-width: 410px){
    

body {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    background-image: url("image/hole.gif");
    background-repeat: no-repeat;
    background-size: 200% 50%;
    background-position: center;
    background-color: rgb(0, 0, 0);
}

}

span{
    color:white;
    padding-right: 10px

}

label {

    color:white;
    padding-right: 10px;
    font-size: smaller;
}

.container{
    width: 500px; margin: auto;
    background-image: url("image/spider.jpg");
    background-color: rgb(36,36,36);
    margin-top: 30px;
    padding-top: 50px;
    border-radius: 30px;
    border: 2px solid white;
    box-shadow: 5px 5px rgb(138, 138, 138);
    -webkit-box-shadow: 14px 27px 30px 3px #1b1a1a;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    backdrop-filter: blur(10px);
}
#box{
    font-weight: bolder;
    font-size: 32px;
    margin: auto;
    text-align:center;
    padding-bottom: 30px;
    color: white;

}

#image1{
    border: 2px solid rgb(46, 44, 44);
    border-radius: 20px;
    box-shadow: 2px 2px  rgb(46, 44, 44);
    image-resolution: 100%;
}

#box1{
    margin: auto;
    width: 80%;
}
.box2{
    display: flex; 
    justify-content: center; 
    align-items: center; 

}



#image2{
    margin: auto;
    width: 100%;
    border-radius: 300px;
    border: 2px solid rgb(46, 44, 44);
    box-shadow: 2px 2px  rgb(46, 44, 44);
}

#box3{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
    

}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

.hover1:hover {
    border: 1px solid #CA5930;
    width: 40px;
    border-radius:100px ;
    -webkit-box-shadow: 4px 4px 15px 3px #CA5930;
}
